body {
  background-color: gray;
  align-items: center;
  font-size: calc(10px + 2vmin);
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.detailsSite {
  white-space: pre-line;
  font-size: calc(8px + 2vmin);
  row-gap: 10px;
  align-items: normal;
}
